
 <footer>
        <div class="img-back-ft">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ftr_logo">
                            <a href="index.html">
                                <img src="images/footer-logo.png" alt="img">
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum
                                has been the industry's.
                            </p>
                            <ul class="footer_social">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="ftr-right-bar">
                            <div class="row">
                                <div class="col-lg-4 p-0">
                                    <div class="ftr_box">
                                        <h5 class="bar">Quick Links</h5>
                                        <ul class="services">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="javascript:void(0)">Instructor</a></li>
                                            <li><a href="javascript:void(0)">Self Defence Classes in London</a></li>
                                            <li><a href="javascript:void(0)">Shop</a></li>
                                            <li><a href="javascript:void(0)">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 ">
                                    <div class="ftr_box ft-links-main2">
                                        <h5 class="bar"> Services</h5>
                                        <ul class="quick">
                                            <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                                            <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                                            <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                                            <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 p-0">
                                    <div class="ftr_box ftr_box1">
                                        <h5 class="bar">Contact Info</h5>
                                        <div class="footer-links footer-links-contact">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa-solid fa-location-dot"></i>
                                                        lorem ipsum dummy here orem ipsum
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="mailto:info@domain.com">
                                                        <i class="fa-solid fa-envelope"></i>
                                                        info@domain.com
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="tel:() 123 456 7890 ">
                                                        <i class="fa-solid fa-phone"></i>
                                                        123 456 7890
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="row e">
                    <div class="col-lg-12">
                        <div class="copy_right">
                            <p>© 2025 <a href="index.html">Self Defence</a> All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

