<!-- header strat -->
    <header>
        <div class="topSec">
            <div class="container">
                <div class="row">
                    <div class="col-md-3    ">
                        <div class="top-bar-left">

                        </div>
                    </div>
                    <div class="col-md-3    ">
                        <div class="top-bar-right">

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="menuSec">
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-xl-2 col-lg-2 col-md-1 col-sm-6 col-12">
                        <div class="header-logo">
                            <a href="index.html"><img src="images/logo.png" alt="img"></a>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block">
                        <div class="menu-box">
                            <ul id="menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="javascript:void(0)">Instructor</a></li>
                                <li><a href="javascript:void(0)">Self Defence Classes in London</a></li>
                                <li><a href="javascript:void(0)">Shop</a></li>
                                <li><a href="javascript:void(0)">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-12">
                        
                        <div class="header-btn">
                            <a href="#" class="theme1">
                                <span class="theme1-txt">Cart</span>
                                <span class="theme1-icon"><img src="images/theme1-icon.png" alt="img"></span>
                            </a>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </header>
<!-- header strat -->